// set custom hex colors 
$siteBgColorCustom: #F6EFEE;
$sidebarBgColorCustom: #F6EFEE;
$textColorCustom: #201E1F;
$sidebarTextColorCustom: #50B2C0;
$headlineColorCustom: #81559B;
$headingColorCustom: #81559B;
$bodyLinkColorCustom: #FF4000;
$navLinkColorCustom: #FF4000;
$sidebarLinkColorCustom: #FF4000;
$footerTextColorCustom: #4A051C;
$buttonTextColorCustom: #4A051C;
$buttonHoverTextColorCustom: #4A051C;
$buttonBgColorCustom: #ffffff;
$buttonHoverBgColorCustom: #ffffff;
$borderColorCustom: #DDD8C4;
