// set custom hex colors 
$siteBgColorCustom: #F3E6CD;
$sidebarBgColorCustom: #9FC2CC;
$textColorCustom: #050505;
$sidebarTextColorCustom: #4A051C;
$headlineColorCustom: #4A051C;
$headingColorCustom: #057840;
$bodyLinkColorCustom: #057840;
$navLinkColorCustom: #057840;
$sidebarLinkColorCustom: #057840;
$footerTextColorCustom: #4A051C;
$buttonTextColorCustom: #4A051C;
$buttonHoverTextColorCustom: #4A051C;
$buttonBgColorCustom: #ffffff;
$buttonHoverBgColorCustom: #ffffff;
$borderColorCustom: #DDD8C4;
