// set custom hex colors 
$siteBgColorCustom: #ffffff;
$sidebarBgColorCustom: #EEEEEE;
$textColorCustom: #050505;
$sidebarTextColorCustom: #F58F29;
$headlineColorCustom: #7D70BA;
$headingColorCustom: #F58F29;
$bodyLinkColorCustom: #F58F29;
$navLinkColorCustom: #F58F29;
$sidebarLinkColorCustom: #F58F29;
$footerTextColorCustom: #7D70BA;
$buttonTextColorCustom: #7D70BA;
$buttonHoverTextColorCustom: #7D70BA;
$buttonBgColorCustom: #ffffff;
$buttonHoverBgColorCustom: #ffffff;
$borderColorCustom: #EEEEEE;
